<app-page-header></app-page-header>

<div *ngIf="this.rooms == null else panel" class="d-flex justify-content-center p-5">
    <div class="spinner-border m-5" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<ng-template #panel>
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-12">
                <form>
                    <div class="form-group mx-5 mt-3 mb-4">
                        <img src="../../assets/images/Yoyo_Booking_Bed.png" style="width: 50px; height: auto;" alt="" />
                        <span class="text2">訂房查詢</span>
                    </div>
                    <app-ngb-date-picker></app-ngb-date-picker>
                    <form class="form-inline mx-5 mt-4">
                        <div class="form-group">
                            <img src="../../assets/images/Yoyo_Booking_Adult.png" style="width: 25px; height: auto;" alt="">
                            <label for="exampleFormControlSelect1">大人</label>
                            <select [(ngModel)]="this.appService.booking.adultCount" class="form-control" id="exampleFormControlSelect1" name="adultCount">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <img src="../../assets/images/Yoyo_Booking_Child.png" style="width: 25px; height: auto;" alt="">
                            <label for="exampleFormControlSelect2">小孩</label>
                            <select [(ngModel)]="this.appService.booking.childrenCount" class="form-control" id="exampleFormControlSelect2" name="childrenCount">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </form>
                    <!-- <div class="form-group mx-5 mt-4">
                        <img src="../../assets/images/Yoyo_Booking_Adult.png" style="width: 25px; height: auto;" alt="">
                        <label for="exampleFormControlSelect1">房間數量</label>
                        <select [(ngModel)]="this.bookingService.data.roomCount" class="form-control" id="exampleFormControlSelect1" name="roomCount">
                            <option *ngFor="let o of roomOptions">
                                {{o.value}}
                            </option>
                        </select>
                    </div> -->
                    <div class="form-group mx-5 mt-4">
                        <button type="submit" id="btn-search" class="btn btn-secondary btn-lg btn-block" (click)="search()">搜尋</button>
                    </div>
                </form>
            </div>
        </div>

        <div *ngFor="let room of rooms">
            <div class="row">
                <div class="col-sm-12 mx-0 mt-5">
                    <a routerLink="" routerLinkActive="active" (click)="detailRoomWithID(room.uid)">
                        <div class="card mx-auto">
                            <div class="row no-gutters">
                                <div class="col-md-4">
                                    <img src={{room.picture}} class="card-img" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{room.title}}</h5>
                                        <p class="card-text">{{room.description}}</p>
                                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</ng-template>