<div class="container-fluid">
    <!-- <button (click)="toggle()">Test Animation</button> -->
    <div class="row">
        <div [@openClose]="isOpen ? 'open' : 'closed'" id="logo" class="d-inline-block col-sm-12">
            <a class="nav-link active" (click)="ToHome()">
                <img id="logo-content" alt="Logo" src="{{GetLogoPath()}}">
            </a>
        </div>
        <!-- <div id="drop" class="col-sm-12 col-xl-5">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div> -->
        <div id="navbar" class="col-sm-12">
            <app-navbar></app-navbar>
        </div>
    </div>
</div>