#logo {
    /* padding-right: 20px;
     */
    text-align: center;
}

#logo #logo-content {
    size: contain;
    width: 256px;
    height: auto;
}

#drop {
    padding-top: 50px;
    text-align: left;
}

#navbar {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 100%;
}

@media (max-width: 1024px) {
    /* #logo {
        margin-top: 80px;
        padding-right: 0px;
        text-align: center;
    } */
    #drop {
        padding-top: 0px;
        text-align: center;
    }
    #navbar {
        position: fixed;
        top: 0px;
        z-index: 100;
    }
    .container-fluid {
        padding-top: 56px;
    }
}