.footer-text {
    left: 60%;
    bottom: 0%;
    position: absolute;
}

.footer-text img {
    width: 50px;
}

.footer-icons {
    left: 42.5%;
    bottom: 0%;
    position: absolute;
}

.footer-icons img {
    margin: 0px 5px 5px 5px;
    width: 50px;
}

#col-footer {
    position: relative;
}

#footer {
    /* position: relative; */
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    content: url("../../assets/images/Yoyo_Floor.png");
    height: auto;
    width: 100%;
}

@media(max-width: 1024px) {
    #footer {
        text-align: center;
        height: auto;
        content: url("../../assets/images/Yoyo_Floor_Mobilex3.png");
    }
    .footer-icons {
        right: 15%;
        left: auto;
        bottom: 170px;
        position: absolute;
    }
    .footer-icons img {
        width: 45px;
    }
    .footer-text {
        left: 10%;
        right: 10%;
        bottom: 5%;
        position: absolute;
    }
    .footer-text img {
        width: 30px;
    }
}

a,
a:link,
a:hover,
a:active {
    color: white;
    text-decoration: none;
}