<div class="container-fluid footer px-0">
    <div class="row mx-0">
        <div id="col-footer" class="col-sm-12 px-0">
            <img id="footer">
            <div class="footer-icons">
                <a href="https://www.facebook.com/yoyolife.travel/" target="_blank" rel="noopener noreferrer">
                    <img src="../../assets/images/Yoyo_FB_icon.png" alt="Facebook">
                </a>
                <a href="">
                    <img src="../../assets/images/Yoyo_IG_icon.png" alt="Instegram">
                </a>
            </div>
            <div class="footer-text">
                <a href="https://goo.gl/maps/CwjaPr2RZi5rGug96" target="_blank" rel="noopener noreferrer">
                    <span>
                        <img style="float: left;" src="../../assets/images/Yoyo_address_icon.png">
                        <p>澎湖縣西嶼鄉池東村13鄰小池角198-2號</p>
                    </span>
                </a>
                <a href="tel:+886-6-998-3328" target="_blank" rel="noopener noreferrer">
                    <span>
                        <img style="float: left;" src="../../assets/images/Yoyo_phone_icon.png"/>
                        <p>06-998-3328</p>
                    </span>
                </a>
                <br *ngIf="!chekIsMobileWindow()">
                <a href="" target="_blank" rel="noopener noreferrer">
                    <span>
                        <img style="float: left;" src="../../assets/images/Yoyo_e-mail_icon.png"/>
                        <p>tk009999@gmail.com</p>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>