<app-page-header></app-page-header>

<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12">
            <img id="header-menu">
            <h3>平、假日定義</h3>
        </div>
        <div class="col-sm-12">
            <ul>
                <li>平日定義：週一～週四</li>
                <li>假日定義：週五～週日（春節、清明、端午、中秋等連續假期、國定假日前一晚、五一勞動節）</li>
                <li>淡／旺季定義：旺季（夏季）：4月～10月／淡季（冬季）：11月～3月</li>
            </ul>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <img id="header-menu">
            <h3>訂房須知</h3>
        </div>
        <div class="col-sm-12">
            <ol>
                <li>請多加利用官網線上訂房系統，可詳知主要房況。電話諮詢時間為早上九點至下午六點，也可加入官方 <a href="https://line.me/R/home/public/main?id=yoyo069983328">Line@</a> 留言詢問。</li>
                <li>訂房前，請先確認完成交通之訂位再進行訂房手續。並詳細填寫訂房者之基本資料（如代為訂房，需詳細填寫住宿旅客資料），並確認資料無誤後完成訂單。</li>
                <li>本民宿定金之收取，請於訂房完成後隔日晚上23:59前將定金匯入。依據觀光局規定收取定金，平日預付定金為總房價之30％（假日預付定金為總房價之50％），逾期恕不保留客房，不便之處敬請見諒。定金匯入後請來電告知或是利用官方<a href="https://line.me/R/home/public/main?id=yoyo069983328">Line@</a>留言匯款帳號後五碼以及訂單編號。 （僅住宿一晚者請全額付清，如有不便之處，敬請見諒。）</li>
                <li>匯款帳號：
                    <ul style="list-style-type: none;">
                        <li>銀行：臺灣銀行-澎湖分行（ATM轉帳銀行代碼：004）</li>
                        <li>帳號：024-004-42056-2</li>
                        <li>戶名：陳榆涓</li>
                    </ul>
                </li>
                <li>尾款請於入住前三日（該日晚上23:59前）匯款付清或於入住時當日現場現金付清，匯款後或需現場付款請來電或聯繫官方<a href="https://line.me/R/home/public/main?id=yoyo069983328">Line@</a> 與服務人員告知（如匯款結清者請告知帳號後五碼）。（本民宿不提供刷卡服務，住宿、代購、代訂之各項費用，皆須以現金付款。不便之處，敬請見諒！）</li>
                <li>為確保您的訂房程序完成，所有訂房需與訂房中心再次確認或請留意您的電子信箱。入住時請提供訂房訂單編號或是信件內容以供查驗。</li>
                <li>二人房最多入住二位大人。為維護住宿品質，不提供加床服務，如需加人住宿(年齡8歲以上者)，每日酌收清潔費用500元(沙發床)，3歲以下不占床者(不加床、被)，不另外加收費用，但仍不可超過每房限定住宿人數，若超過人數而未事前告知，我們有權拒絕您入住。</li>
            </ol>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <img id="header-menu">
            <h3>延期、取消訂房須知</h3>
        </div>
        <div class="col-sm-12">
            <ol>
                <li>取消訂房：請來電（06-9983328）或 官方<a href="https://line.me/R/home/public/main?id=yoyo069983328">Line@</a>通知訂房人員取消訂房，並確認相關退款資料以利後續退款程序。並請至訂房所使用之電子信箱收件，以確認取消訂房是否成功。</li>
                <li>住宿當日如遇天災（如颱風、地震…等）或不可抗力之因素，導致由台灣本島至澎湖交通中斷時，經主管單位發布之訊息(當地縣市政府頒部狀況準則)，訂金可全額退還或自住宿日起保留三個月內之訂房。</li>
                <li>若因遇颱風滯留於澎湖，導致旅客無法離開，滯留期間住宿費以房價定價八折計算。</li>
                <li>取消訂房將依據觀光局頒布《旅客訂房定型化契約》規定，並依法令規定比率進行取消訂房之扣款如下：
                    <ul>
                        <li>旅客住宿日當日取消訂房者，預付定金不得退還</li>
                        <li>旅客於住宿日前一日內取消訂房者，退還預付定金20％</li>
                        <li>旅客於住宿日前第二日至第三日內取消訂房者，退還預付定金30％</li>
                        <li>旅客於住宿日前第四日至第六日內取消訂房者，退還預付定金40％</li>
                        <li>旅客於住宿日前第七日至第九日內取消訂房者，退還預付定金50％</li>
                        <li>旅客於住宿日前第十日至第十三日內取消訂房者，退還預付定金70％</li>
                        <li>旅客於住宿日前第十四日以前取消訂房者，退還預付定金100％（或可延期三個月，每年僅可延期一次）</li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>
</div>