#header-menu {
    position: relative;
    text-align: center;
    content: url("../../assets/images/Yoyo_Label_A.png");
}

.col-sm-12 h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 40%;
    left: 5%;
    color: white;
}

@media(max-width: 1024px) {
    #header-menu {
        width: 100%;
    }
    .col-sm-12 h3 {
        left: 30px;
        font-size: 24px;
    }
}