h3 {
    font-size: 20px;
}

.carousel {
    width: fit-content;
}

#description {
    text-align: -webkit-center;
}

#description h3 {
    font-family: DFKai-sb;
}

#test {
    height: 1000px;
}

@media(max-width: 1024px) {
    .carousel {
        width: fit-content;
    }
    #description {
        text-align: -webkit-center;
    }
    #test {
        width: 100%;
        height: auto;
    }
}