<app-page-header></app-page-header>

<div id="description" class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="form-group m-5">
                <h3>{{data.description}}</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
                <ng-template ngbSlide *ngFor="let img of this.data.pictures || []; index as i">
                    <div class="carousel-caption">
                        <!-- <h3>My slide {{i + 1}} title</h3> -->
                    </div>
                    <a target="_blank" rel="nofollow noopener noreferrer">
                        <div class="picsum-img-wrapper">
                            <img id="test" [src]="img" alt="My image {{i + 1}} description">
                        </div>
                    </a>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>

</div>