<div class="container-fluid">
    <div class="row">
        <div class="page-header col p-0">
            <img src="{{GetPageCover()}}" alt="" class="fit-image">
            <div class="page-header-title">
                <h1>{{GetTitle()}}</h1>
            </div>
        </div>
    </div>
</div>