.page-header {
    position: relative;
    width: 100%;
    height: auto;
}

.page-header .fit-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.page-header .page-header-title {
    position: absolute;
    width: 80%;
    height: 50px;
    background-color: rgba(108, 108, 108, 0.75);
    bottom: -7%;
}

.page-header .page-header-title h1 {
    margin-top: 10px;
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    color: white;
}

@media(max-width:1024px) {
    .page-header {
        position: static;
    }
    .page-header .fit-image {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .page-header .page-header-title {
        position: static;
        width: 80%;
    }
}