<nav class="navbar navbar-expand-lg navbar-light">

    <a class="navbar-brand" href="#"></a>

    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation" #navbarToggle>
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item">
                <!-- 如果要設置點擊方法參考 => (click)="SetTitle('最新消息')" -->
                <a class="nav-link active" routerLinkActive="router-link-active" (click)="ToNews()">最新消息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLinkActive="router-link-active" (click)="ToRooms()">房間資訊</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLinkActive="router-link-active" (click)="ToRules()">訂房規則</a>
            </li>
            <li class="nav-item">
                <!-- Button trigger modal -->
                <a class="nav-link active" routerLinkActive="router-link-active" (click)="ToAobutUS()">關於我們</a>
                <!-- <button type="button" class="btn btn-primary" [routerLink]="['/about-us']" routerLinkActive="router-link-active">關於我們</button> -->
            </li>
            <!-- <li class="nav-item" *ngIf="userAuthStatu == true">
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">我的帳戶</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">個人資料</a>
                        <a class="dropdown-item" href="#" [routerLink]="['/booking-history']" routerLinkActive="router-link-active">訂房查詢</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" (click)="Logout()">登出</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div id="user-header" *ngIf="userAuthStatu == true else primaryBlock" [style.background-image]="'url('+ GetPageCover() +')'"></div>
                <ng-template #primaryBlock>
                    <a id="navbar-login-button" name="navbar-login-button" class="btn btn-primary" href="#" role="button" data-toggle="modal" data-target="#exampleModalCenter" (click)="StartLogin()" #openAddExpenseModal>登入</a>
                </ng-template>
            </li> -->
        </ul>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" #exampleModal>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">請選擇登入</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeAddExpenseModal>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <!-- <div class="form-group">
                    <label for=""></label>
                    <input type="text" class="form-control" name="account" id="" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div>

                <div class="form-group">
                    <label for=""></label>
                    <input type="password" class="form-control" name="password" id="" aria-describedby="helpId" placeholder="">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                </div> -->

                <!-- <button type="button" class="btn btn-primary" (click)="LoginWithGoogle()">Google登入</button> -->
                <div class="row">
                    <div class="col">
                        <a class="btn btn-outline-dark" (click)="LoginWithGoogle()" role="button" style="text-transform:none">
                            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" /> Google 登入
                        </a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-outline-dark" href="/users/facebookauth" role="button" style="text-transform:none">
                            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Facebook sign-in" src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" /> Facebook 登入
                        </a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-outline-dark" href="/users/facebookauth" role="button" style="text-transform:none">
                            <img width="20px" style="margin-bottom:3px; margin-right:5px" alt="Facebook sign-in" src="https://s.yimg.com/rz/p/yahoo_frontpage_en-US_s_f_p_bestfit_frontpage_2x.png" /> Yahoo!奇摩 登入
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-footer" *ngIf="personalAccountServiceEnable == true">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>
</div>