#user-header {
    background-size: contain;
    background-color: gray;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
    border-width: 3px;
    width: 50px;
    height: 50px;
    box-shadow: 0px 2.5px 9px gray;
}

.navbar {
    box-shadow: 0px 0px 20px gray;
    background-color: white;
}

.navbar .nav-item .nav-link {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar-login-button {
    border-radius: 0px;
    border: rgba(255, 255, 255, 0);
    background-color: white;
    color: black;
}

@media (max-width: 1024px) {
    .navbar {
        box-shadow: 0px 0px 0px 0px;
        background-color: white;
    }
    #user-header {
        margin-left: 45%;
    }
    .navbar.navbar-expand-lg.navbar-light {
        box-shadow: 0px 2.5px 9px gray;
    }
}