/* #header-menu {
    text-align: center;
    content: url("https://firebasestorage.googleapis.com/v0/b/gwbnb-262523.appspot.com/o/UserHead.png?alt=media&token=a2bdb732-37eb-4ea1-a58b-ca439b643487");
    height: auto;
    width: 100%;
    max-width: 100%;
} */

.card-img {
    width: 300px;
    /* size: contain; */
    object-fit: cover;
    height: auto;
    /* only if you want fixed height */
}

a,
a:link,
a:hover,
a:active {
    color: rgb(100, 100, 100);
    text-decoration: none;
}

@media(max-width: 1024px) {
    .card-img {
        width: 100%;
    }
}