<div *ngIf="this.rooms == null else panel" class="d-flex justify-content-center p-5">
    <div class="spinner-border m-5" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<ng-template #panel>
    <app-page-header></app-page-header>
    <div class="container">
        <div class="row">
            <ng-template ngFor let-room [ngForOf]="rooms" let-i="index">
                <div class="col-sm-6 mx-0 mt-5">
                    <a routerLink="" routerLinkActive="active" (click)="detailRoomWithID(room.uid)">
                        <div class="card mx-auto">
                            <div class="row  no-gutters">
                                <div class="col-md-7">
                                    <img src="{{room.pictures[0] || null}}" class="card-img" alt="...">
                                </div>
                                <div class="col-md-5">
                                    <div class="card-body">
                                        <h5 class="card-title">{{room.title}}</h5>
                                        <p class="card-text">{{room.description}}</p>
                                        <p class="card-text"><small class="text-muted">{{room.date}}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="w-100" *ngIf="i > 0 && (i + 1) % 2 == 0"></div>
            </ng-template>
        </div>
    </div>
</ng-template>