<app-page-header></app-page-header>

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <div class="form-group m-5">
                <h3>民宿位於連澎湖人都不太知道的白沙鄉城前小村，全村目前不到30戶，没有鄰居，正前方是澎湖（平湖）的內海海域，漲潮時會將一部份土地淹在海裏，可以看到馬公市及西嶼及大倉島；左邊是一片溼地，漲潮時海水會將溼地淹没，退潮時露出；右邊是廢耕的農地；後方是一大片農田。我是一個很簡單的人，没什麼品味及特色，所以我的民宿跟我一樣簡單，没有複雜及高級的裝璜，頂級的設備，只有我最愛的寧靜海景。所以我的民宿什麼都没有（不要用住飯店的心態來住宿），僅提供： 一個空間：一個放空的房間 一個環境：澎湖海岸的一角視窗
                    一個機會：跟你做朋友的機會 所以來這裏没有專業的服務，只有朋友的真誠對待。如果不嫌棄，歡迎您到候鳥潮間帶民宿（城前驛站）來，過過美滿的生活吧！
                </h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../assets/images/LOGO_Yoyo_Title_1.png" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/images/LOGO_Yoyo_Title_2.png" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/images/LOGO_Yoyo_Title_3.png" class="d-block" alt="...">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

</div>