<title>{{GetTitle()}}</title>

<app-header *ngIf="!this.appService.CheckCurrentRouter('/launch')"></app-header>

<router-outlet></router-outlet>

<app-footer *ngIf="!this.appService.CheckCurrentRouter('/launch')"></app-footer>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{this.appService.GetContentTitle()}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p>{{this.appService.GetReson()}}</p>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
    </div> -->
</ng-template>