#header-menu {
    position: relative;
    text-align: center;
    content: url("../../assets/images/Yoyo_Label_A.png");
}

.modal-header {
    justify-content: center;
}

.modal-footer {
    justify-content: center;
}

.col-sm-12 h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 40%;
    left: 5%;
    color: white;
}

.carousel {
    width: fit-content;
}

#description {
    text-align: -webkit-center;
}

#test {
    height: 750px;
}

@media(max-width: 1024px) {
    #header-menu {
        width: 100%;
    }
    #UIPanel {
        margin-top: 0px;
    }
    .carousel {
        width: fit-content;
    }
    #description {
        text-align: -webkit-center;
    }
    #test {
        width: 100%;
        height: auto;
    }
}