<div *ngIf="this.room == null else panel" class="d-flex justify-content-center p-5">
    <div class="spinner-border m-5" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<ng-template #panel>
    <app-page-header></app-page-header>

    <div id="description" class="container-fluid mt-5">
        <div class="row">
            <div class="col">
                <ngb-carousel #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
                    <ng-template ngbSlide *ngFor="let img of this.room.pictures || []; index as i">
                        <div class="carousel-caption">
                            <!-- <h3>My slide {{i + 1}} title</h3> -->
                        </div>
                        <a target="_blank" rel="nofollow noopener noreferrer">
                            <div class="picsum-img-wrapper">
                                <img id="test" [src]="img" alt="My image {{i + 1}} description">
                            </div>
                        </a>
                    </ng-template>
                </ngb-carousel>
            </div>
            <!-- <div class="col" style="text-align: right;">
                <div class="form-group mx-5">
                    <h2>定價 NT${{this.room.price_origin}}</h2>
                    <h1>平日 NT${{this.room.price_dayily}}</h1>
                    <h1>假日 NT${{this.room.price_holiday}}</h1>
                </div>
                <app-ngb-date-picker></app-ngb-date-picker>
                <form class="form-inline mx-5 mt-4">
                    <div class="form-group">
                        <img src="../../assets/images/Yoyo_Booking_Adult.png" style="width: 25px; height: auto;" alt="">
                        <label for="exampleFormControlSelect1">大人</label>
                        <select [(ngModel)]="this.appService.booking.adultCount" class="form-control" id="exampleFormControlSelect1" name="adultCount" (change)="onAdultCountChange($event.target.value)">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <img src="../../assets/images/Yoyo_Booking_Child.png" style="width: 25px; height: auto;" alt="">
                        <label for="exampleFormControlSelect2">小孩</label>
                        <select [(ngModel)]="this.appService.booking.childrenCount" class="form-control" id="exampleFormControlSelect2" name="childrenCount" (change)="onChildCountChange($event.target.value)">
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </form>
                <ng-template ngFor let-people [ngForOf]="adult" let-i="index">
                    <form class="form-inline mx-5 mt-4">
                        <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="姓" aria-describedby="helpId">
                        </div>
                        <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="名" aria-describedby="helpId">
                        </div>
                    </form>
                </ng-template>
                <ng-template ngFor let-people [ngForOf]="children" let-i="index">
                    <form class="form-inline mx-5 mt-4">
                        <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="姓" aria-describedby="helpId">
                        </div>
                        <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="名" aria-describedby="helpId">
                        </div>
                    </form>
                </ng-template>

                <div class="form-group mx-5 mt-4">
                    <button type="submit" id="btn-search" class="btn btn-secondary btn-lg btn-block" (click)="Asking(content)">訂房</button>
                </div>
            </div> -->
        </div>
    </div>

    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-12">
                <img id="header-menu">
                <h3>入住須知</h3>
            </div>
            <div class="col-sm-12">
                <ol>
                    <li>請詳細閱讀以下注意事項，完成訂房手續並匯款成功時視為同意以下相關規定。</li>
                    <li>進房時間(Check-In)：下午三點至晚上九點半前</li>
                    <li>退房時間(Check-Out)：上午十一點前，退房時請將鑰匙一併繳回，若鑰匙遺失須賠償工本費500元。</li>
                    <li>延遲退房(Late Check-Out)：當日如有空房可接受延遲退房服務，需收取超時費用＄300／時。
                        <br>(未滿一小時以一小時計，延遲退房超過下午五點將以一日房價收費) ※櫃台提供行李寄放。(但不負保管責任，如有貴重物品請隨身攜帶。)
                    </li>
                    <li>辦理住宿登記時，請提供身分證或護照以利辦理入住登記。</li>
                    <li>尾款請於入住前三日(該日晚上23:59前)匯款付清或於入住時當日現場現金付清，匯款後或需現場付款請來電或聯繫官方Line@ 與服務人員告知(如匯款結清者請告知帳號後五碼)。</li>
                    <li>住宿當日18:00前未能抵達，請來電確認住宿，以便為您保留房間，否則視同放棄。</li>
                    <li>本民宿不提供刷卡服務，住宿、代購、代訂之各項費用皆須以現金支付款。不便之處，敬請見諒！</li>
                    <li>早餐供應時間為上午07：30～09：30 止。若因行程關係，需在時段外用餐，請事前告知。</li>
                    <li>房客外出時，請將房間燈火及冷氣關閉，並請鎖上房門以策安全。</li>
                    <li>本民宿為維護住宿品質，不可攜帶寵物入住。</li>
                    <li>本民宿禁止酗酒或聚賭，請勿攜帶違禁物品。</li>
                    <li>早上8點前及晚上10點後請勿高聲談話，並降低聲量。避免打擾其他旅客及鄰居，以維護良好的住宿品質，感謝您的配合。</li>
                    <li>個人貴重的物品請千萬小心保管，如有發生遺失的情況，是不予理賠的。如需報警，請洽櫃台人員。</li>
                    <li>為維護客人隱私安全，非住宿客人請勿任意進入民宿範圍，住客朋友來訪請事前知會民宿主人。</li>
                    <li>因人為因素造成本民宿財產之損壞，須全額支付賠償費用。</li>
                    <li>民宿廚房不開放，非工作人員請勿進入。禁止在房間內或陽台、庭園等地方烹煮任何食物。</li>
                    <li>客房冰箱內提供免費礦泉水，若需要沖泡咖啡或茶包，煩請至餐廳取用。</li>
                    <li>餐廳為公共使用空間，使用後請保持清潔。私人物品請勿留置於公共空間內，餐廳設有飲水機，提供咖啡、茶飲請多加利用。</li>
                    <li>為響應澎湖縣政府低碳島生活圈法令方案，民宿不提供盥洗用品(牙刷牙膏、浴帽、刮鬍刀、梳子)煩請自備，僅提供浴巾、毛巾、固定填充式沐浴乳及洗髮乳；並請節約用電、用水，讓我們一起做環保、愛地球。續住期間不打掃房間，亦不更換寢具、浴巾，如有需要請通知櫃台。</li>
                    <li>本民宿可代訂汽機車、提供地圖導覽、景點推薦。與本民宿配合的租車公司租車，可享優惠。</li>
                    <li>依據煙害防治法，本民宿實施全面禁煙及檳榔(包含陽台範圍)。若違法將報請相關單位處理。民宿將要求立即退房，並求償五倍的房價作為客房菸害清潔費用。</li>
                </ol>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #content let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">是否同意?</h4>
        <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <div class="modal-body">
        <p>{{this.content_data}}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="agree()">同意</button>
        <button type="button" class="btn btn-danger" (click)="disagree()">不同意</button>
    </div>
</ng-template>