<div *ngIf="this.NewsList == null else panel" class="d-flex justify-content-center p-5">
    <div class="spinner-border m-5" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


<ng-template #panel>
    <app-page-header></app-page-header>
    <div class="container">
        <div class="row  no-gutters">
            <div class="col-12 mx-0 mt-5" *ngFor="let news of NewsList" id="NewsItem">
                <a href="{{news.url}}" target="_blank" rel="noopener noreferrer">
                    <!-- <a routerLink="" routerLinkActive="active" (click)="detailNewsWithID(news.uid)"> -->
                    <div class="card mx-auto">
                        <div class="row no-gutters">
                            <div class="col-sm-3">
                                <img id="card-img" src="{{news.picture}}" class="card-img" alt="...">
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h5 class="card-title">{{news.title}}</h5>
                                    <p id="description" class="card-text">{{news.description}}</p>
                                    <p class="card-text"><small class="text-muted">{{news.date}}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</ng-template>