#header-menu {
    text-align: center;
    content: url("https://firebasestorage.googleapis.com/v0/b/gwbnb-262523.appspot.com/o/UserHead.png?alt=media&token=a2bdb732-37eb-4ea1-a58b-ca439b643487");
    height: auto;
    width: 100%;
}

#card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* only if you want fixed height */
}

@media(max-width: 1024px) {
    .card-img {
        width: 100%;
    }
}

a,
a:link,
a:hover,
a:active {
    color: rgb(100, 100, 100);
    text-decoration: none;
}

#description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}