<app-page-header></app-page-header>

<div class="container">

    <div *ngFor="let room of rooms">
        <div class="row">
            <div class="col-sm-12 mx-0 mt-5">
                <a routerLink="/room-detail" routerLinkActive="active">
                    <div class="card mx-auto">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src={{room.picture}} class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{room.title}}</h5>
                                    <p class="card-text">{{room.description}}</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>