<div class="container-fluid">
    <div class="row">
        <div class="col p-0">

            <div id="myVideo-cover">

            </div>

            <video id="myVideo" autoplay loop [muted]="true" playsinline #videoPlayer>
                <!-- <source src="{{this.videoURL}}" type="video/mp4" /> Your browser does not support the video tag. We suggest you upgrade your browser. -->
            </video>

            <div id="myVideo-text">
                <!-- <div><img src="http://marquesslondon.herokuapp.com/images/logo.ee1689ee.png"></div> -->
                <img width="200px" height="auto" src="../../assets/images/LOGO_Yoyo_A.png" (click)="ToHome()">
                <h3>綠水悠遊</h3>
                <p>西嶼鄉最優質民宿 YoYo Life B&B</p>
                <a style="color: #fff;" href="tel:+886-6-998-3328" target="_blank" rel="noopener noreferrer">
                    <p>訂房專線：06-998-3328</p>
                </a>
                <a style="color: #fff;" href="https://goo.gl/maps/CwjaPr2RZi5rGug96" target="_blank" rel="noopener noreferrer">
                    <p>地址：澎湖縣西嶼鄉池東村13鄰小池角198-2號</p>
                </a>
                <small>背景影片來源：感謝澎湖縣政府授權「世界最美麗海灣」全觀使用</small>
            </div>

            <!-- <div id="outer">
                <div id="home-top-video">
                    <video id="home-video" autoplay loop [muted]="true">
                        <source src="../../assets/files/Xiyu.mp4" type="video/mp4" /> Your browser does not support the video tag. We suggest you upgrade your browser.
                    </video>

                </div>
                <div id="home-text">
                    <div><img src="http://marquesslondon.herokuapp.com/images/logo.ee1689ee.png"></div>
                    <img width="200px" height="auto" src="../../assets/images/LOGO_Yoyo_A.png" (click)="ToHome()">
                    <h3>綠水悠遊</h3>
                    西嶼鄉最優質民宿
                    YoYo Life B&B
                </div>
            </div> -->
        </div>
    </div>
</div>