#outer {
    width: 100%;
    height: 100vh;
    display: block;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#home-top-video:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(to right, rgba(0, 247, 255, 0), rgba(0, 26, 255, 0));
}

#home-top-video {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#home-video {
    height: 100%;
    width: 100%;
}

#home-text {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 1;
}

#myVideo-cover {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    background: linear-gradient(to right, rgba(0, 247, 255, 0.1), rgba(0, 26, 255, 0.35));
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#myVideo-text {
    text-align: center;
    position: fixed;
    color: #fff;
    left: 0px;
    right: 0px;
    top: 25%;
}