/* You can add global styles to this file, and also import other style files */


/* a,
a:link,
a:hover,
a:active {
    color: white;
    text-decoration: none;
} */

@media(max-width:1024px) {
    .modal-backdrop {
        z-index: 0;
    }
}