.relative-header-menu {
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
    /* text-align: center; */
    width: 100%;
}

.relative-header-menu2 {
    left: 15%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
}

#header-menu {
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    width: 100%;
    object-fit: cover;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

@media(max-width:1024px) {
    .col-sm-12.header-menu {
        position: static;
    }
    .relative-header-menu {
        position: static;
    }
    .relative-header-menu2 {
        position: static;
    }
    #header-menu {
        position: static;
        height: 250px;
    }
    #outer {
        width: 100%;
        height: 200px;
        display: block;
        text-align: center;
        position: relative;
        overflow: hidden;
    }
}

.card {
    margin: 0 auto;
    float: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

a,
a:link,
a:hover,
a:active {
    color: rgb(100, 100, 100);
    text-decoration: none;
}


/* .card .card-img-top {
    content: url("https://firebasestorage.googleapis.com/v0/b/gwbnb-262523.appspot.com/o/UserHead.png?alt=media&token=a2bdb732-37eb-4ea1-a58b-ca439b643487");
} */

.test.col-xl-4 {
    position: static;
}

#card-group {
    position: static;
    text-align: center;
}


/* .img-valign {
    vertical-align: middle;
    margin-bottom: 0.75em;
} */

.text2 {
    font-size: 24px;
}

#btn-search {
    background-color: rgb(68, 68, 68);
}

p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}