<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 header-menu p-0">
            <div class="relative-header-menu">
                <!-- <app-page-header id="header-menu" *ngIf="chekIsMobileWindow()"></app-page-header> -->
                <img id="header-menu" *ngIf="chekIsMobileWindow() == true" src="{{this.homeImageURL}}">
                <!-- <div class="relative-header-menu2">
                    <form>
                        <div class="form-group mx-5 mt-3 mb-4">
                            <img src="../../assets/images/Yoyo_Booking_Bed.png" style="width: 50px; height: auto;" alt="" />
                            <span class="text2">訂房查詢</span>
                        </div>
                        <app-ngb-date-picker></app-ngb-date-picker>
                        <form class="form-inline mx-5 mt-4">
                            <div class="form-group">
                                <img src="../../assets/images/Yoyo_Booking_Adult.png" style="width: 25px; height: auto;" alt="">
                                <label for="exampleFormControlSelect1">大人</label>
                                <select [(ngModel)]="this.appService.booking.adultCount" class="form-control" id="exampleFormControlSelect1" name="adultCount">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <img src="../../assets/images/Yoyo_Booking_Child.png" style="width: 25px; height: auto;" alt="">
                                <label for="exampleFormControlSelect2">小孩</label>
                                <select [(ngModel)]="this.appService.booking.childrenCount" class="form-control" id="exampleFormControlSelect2" name="childrenCount">
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </form>
                        <div class="form-group mx-5 mt-4">
                            <img src="../../assets/images/Yoyo_Booking_Adult.png" style="width: 25px; height: auto;" alt="">
                            <label for="exampleFormControlSelect1">房間數量</label>
                            <select [(ngModel)]="this.appService.booking.roomCount" class="form-control" id="exampleFormControlSelect1" name="roomCount">
                                <option *ngFor="let o of roomOptions">
                                    {{o.value}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group mx-5 mt-4">
                            <button type="submit" id="btn-search" class="btn btn-secondary btn-lg btn-block" (click)="search()">搜尋</button>
                        </div>
                    </form>
                </div> -->
                <img id="header-menu" *ngIf="chekIsMobileWindow() == false" src="{{this.homeImageURL}}">
                <!-- <app-page-header id="header-menu" *ngIf="!chekIsMobileWindow()"></app-page-header> -->
            </div>
        </div>
    </div>
</div>

<div *ngIf="this.home == null else panel" class="d-flex justify-content-center p-5">
    <div class="spinner-border m-5" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<ng-template #panel>
    <div class="container mt-5">
        <div class="row">
            <div class="test col-xl-4">
                <a routerLink="/news" routerLinkActive="active">
                    <div id="card-group" class="mx-auto card" style="text-align: center; ">
                        <img class="card-img-top" src="{{home?.news?.picture}}">
                        <div class="card-body">
                            <p class="card-text">{{home?.news?.title}}</p>
                            <p class="card-text">{{home?.news?.description}}</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="test col-xl-4">
                <a routerLink="/room" routerLinkActive="active">
                    <div id="card-group" class="mx-auto card" style="text-align: center; ">
                        <img class="card-img-top" src="{{home?.room?.pictures[0] || null}}">
                        <div class="card-body">
                            <p class="card-text">{{home?.room?.title}}</p>
                            <p class="card-text">{{home?.room?.description}}</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="test col-xl-4">
                <a routerLink="/about-us" routerLinkActive="active">
                    <div id="card-group" class="mx-auto card" style="text-align: center; ">
                        <img class="card-img-top" src="{{home?.about_us?.pictures[0] || null}}">
                        <div class="card-body">
                            <p class="card-text">{{home?.about_us?.title}}</p>
                            <p class="card-text">{{home?.about_us?.description}}</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</ng-template>